<!DOCTYPE html>
<html>
  <head>
  <% include ../static/partials/head.ejs %>
  </head>
  <body>
      <% include ../static/partials/navbar.ejs %>

      <main class="container" style="margin-top: 100px;">
      <% include ../static/partials/messages.ejs %>

      <h1>Collaborators</h1>

      <a href="/collaborators/new" class="btn btn-success">New Collaborator</a>

      <p> hello </p>

      </main>

      <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>
